{% extends 'base.html.twig' %}

{% block title %}New Author{% endblock %}

{% block body %}
    <h1>Create new Author</h1>

    {{ include('author/_form.html.twig') }}

    <a type="button" class="btn btn-primary" href="{{ path('author_index') }}">Back to list</a>
{% endblock %}
